* {
    font-family: "Coiny", system-ui;  
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

header {
    background-color: #12b4ad;
    padding-top: 16px;
    color: #fff;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    display: none;
    background-color: #6f99a5;
    padding: 16px 0;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a{
    text-decoration: none;
    color: #fff;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}

#sobre-a-loja img{
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
    color: #12b4ad;
}

.lista-pratos {
    flex-wrap: wrap;
}

.lista-pratos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista-pratos li img {
    max-width: 100%;
}

.lista-pratos li h3 {
    margin: 16px 0;
}

.lista-pratos li button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #12b4ad;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

.item-central {
    margin: 0 5%;
}

.price {
    margin: 16px 0;
    display: block;
}